---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Listadecanciones from '../components/Listadecanciones.astro';
import { UserButton } from '@clerk/astro/components';

// Get the userId from auth() -- if null, the user is not signed in
const { userId , redirectToSignIn } = Astro.locals.auth()

// Protect the route by checking if the user is signed in
if (!userId) {
  return redirectToSignIn()
}

// Get the Backend User object when you need access to the user's information
const user_id = await Astro.locals.currentUser()

const data = await fetch(import.meta.env.API_URL+"lista/"+ user_id?.id).then(response => response.json());
const lista = data.data

---

<Layout>
  <div class="flex justify-center items-center py-24">
      <img src = `${user_id?.imageUrl}` alt="userImage" class="w-40 rounded-full"/>
      <h1 class="px-5 py-0.5"> Hola <spam class="bg-amber-500 rounded-2xl px-5 py-0.5" > {user_id?.fullName} </spam> </h1>
  </div>
  <div class="flex gap-8 justify-center p-10">
    <div class="w-full max-w-sm p-4 rounded-lg shadow-sm sm:p-8 bg-[#B39966] border-gray-700 transition delay-150 duration-300 ease-in-out "> 
      <h2> Aquí puedes administrar tus canciones </h2>
      <p> (Próximamente más herramientas)</p>
      <a href="/crearcancion">Agregar una canción </a>
    </div>
    <Card name = "Tu Lista " lista = {lista}/>
  </div>
  <div class="py-20">
  </div>
</Layout>