---
const { name, lista} = Astro.props

---

<div class="w-full max-w-sm p-4 rounded-lg shadow-sm sm:p-8 bg-gray-800 border-gray-700 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-[#B39966]">
<h5 class="p-2 rounded-md mb-4 text-xl bg-[#222] font-medium text-gray-200">{name} :</h5>
<div class="p-2 rounded-md mb-4 font-medium text-gray-200">
    <ul role="list" class="space-y-1 my-5">
    
    {
        lista.map( (cancion:any) => (
    
        <li class="flex p-2 hover:rounded-md hover:text-amber-400 hover:bg-[#222]">
            <a href={`/canciones/${cancion.slug}`}>{cancion.titulo}</a>
        </li>
    
        )
        )
    }

    </ul>
</div>
</div>
