<footer class="rounded-lg shadow-sm m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Web de: <a href="#top" class="hover:underline">Neoabu</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text.white/90">
        
        <li>
            <a href="#" class="hover:underline">Demo de prueba</a>
        </li>
    </ul>
    </div>
</footer>