---


---
<main>
	<div class="p-25">
		<h1 class="text-center text-5xl font-extrabold text-shadow-lg/30">Bienvenidos 🎼 <span class="block">Tablaturas y Acordes</span></h1>
	</div>
	<div class="p-10 text-center">
	<h2 class="text-2xl text-shadow-lg/80" >Aqui puede subir adaptaciones de tus canciones favoritas y tus repertorios</h2>
		<p class="p-5 text-shadow-lg/80">Sitio web para musicos que quieran tener un 
			<spam class="text-yellow-100 text-shadow-lg/80">repocitorio de sus canciones, Covers o sus Arreglos</spam> 
		</p>
		<p class="text-shadow-lg/80">Aqui encontras un sitio seguro para subir tu musica y tenerla a dispocicion en todo momento</p>
	</div>
</main>
