---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Chords End</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	:root{
		color-scheme: dark;
	}
	
	html{
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		background: #222;
		/*background: linear-gradient(180deg,#222 0%, rgb(37, 37, 58) 35%);
	*/}
	
	body {
		display: flex;
        flex-direction: column;
        min-height: 100vh;
	}
	
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
